{load href="__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>  
<script type="text/javascript" src="__STATIC__/admin/hui/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type = “text/javascript” src = “http://code.jquery.com/jquery-1.7.2.min.js” > </script>
<script>
    var SCOPE = {
        'city_url':'{:url("api/city/getCityByParentId")}',
        'category_url': '{:url("api/category/getCategoryByParentId")}',
        'uploadify_swf' : '__STATIC__/admin/uploadify/uploadify.swf',
        'image_upload' :'{:url("api/image/upload")}',
        'register_url' : '{:url("register/add")}',
        'maptag_url':'{:url("register/maptag")}',
        'waiting_url' :'{:url("register/waiting")}',
        'location_url':'{:url("location/add")}',
        'city_location' : '{:url("api/location/getLocationByCityPath")}',
        'deal_url' :'{:url("deal/add")}',

    }
</script>
{load href="__STATIC__/admin/js/common.js" /}
{load href="__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}
{load href="__STATIC__/admin/js/image.js" /}
